<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
	
	<!-- USER FUNCTIONALITIES MENU PREDIOS -->
	
		<extension class-name="es.icarto.gvsig.catastro.InsertAreaCatastroPredioExtension" description="New Feature" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Alta"
					action-command="_area" position="1003"/>
			</tool-bar>-->
			<menu text="Catastro/Predios/Alta" action-command="_area"
				icon="images/new.png" position="1003"/> 
		</extension>
	
		<extension class-name="es.icarto.gvsig.catastro.SelectionGeometryCatastroPredioExtension" description="Join Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Fusionar"
					action-command="_selection" position="2006"/>
			</tool-bar>-->
			<menu text="Catastro/Predios/Fusionar" action-command="_selection"
				icon="images/join.png" position="2006"/> 
		</extension>
		
		<extension class-name="es.icarto.gvsig.catastro.CutPolygonCatastroPredioExtension" description="Split Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Dividir"
					action-command="_cut_polygon" position="3009"/>
			</tool-bar>-->
			<menu text="Catastro/Predios/Dividir" action-command="_cut_polygon"
				icon="images/split.png" position="3009"/> 
		</extension>
	
	<!-- USER FUNCTIONALITIES MENU CONSTRUCCIONES -->
	
		<extension class-name="es.icarto.gvsig.catastro.InsertAreaCatastroConstruccionExtension" description="New Feature" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Alta"
					action-command="_area" position="100003"/>
			</tool-bar>-->
			<menu text="Catastro/Construcciones/Alta" action-command="_area"
				icon="images/new.png" position="100003"/> 
		</extension>
	
		<extension class-name="es.icarto.gvsig.catastro.SelectionGeometryCatastroConstruccionExtension" description="Join Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Fusionar"
					action-command="_selection" position="200003"/>
			</tool-bar>-->
			<menu text="Catastro/Construcciones/Fusionar" action-command="_selection"
				icon="images/join.png" position="200006"/> 
		</extension>
		
		<extension class-name="es.icarto.gvsig.catastro.CutPolygonCatastroConstruccionExtension" description="Split Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Dividir"
					action-command="_cut_polygon" position="30009"/>
			</tool-bar>-->
			<menu text="Catastro/Construcciones/Dividir" action-command="_cut_polygon"
				icon="images/split.png" position="300009"/> 
		</extension>
		
	<!-- UTILITIES EXTENSIONS -->	
		
		<extension class-name="es.icarto.gvsig.catastro.ActionDispatcherExtension" description="FORMS_PANEL" active="true">
			<tool-bar name="Catastro">
				<action-tool icon="catastro-mexico" tooltip="Catastro Extension"
					action-command="catastro-mexico" position="5000"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
