<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<label-set class-name="com.iver.cit.gvsig.project.documents.view.gui.View">
		<label id="units" size="75"/>
		<label id="x" size="120"/>
		<label id="y" size="120"/>
		<label id="4" size="110"/>
		<label id="5" size="110"/>
		<label id="distancearea" size="30"/>
		<label id="projection" size="110"/>
		<label id="constants" size="140"/>
	</label-set>
	<extensions>
	
		<!-- SELECT ARE TO WORK OVER: DEFINE CONSTANTS -->
		<extension class-name="es.icarto.gvsig.catastro.SelectionRegionExtension" description="Select region" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="SeleccionarRegion"
					action-command="_select_region" position="1003"/>
			</tool-bar>-->
			<menu text="Catastro/Selección/Región" action-command="_select_region" position="1003"/> 
		</extension>

		<extension class-name="es.icarto.gvsig.catastro.SelectionManzanaExtension" description="Select manzana" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="SeleccionarManzana"
					action-command="_select_manzana" position="2006"/>
			</tool-bar>-->
			<menu text="Catastro/Selección/Manzana" action-command="_select_manzana" position="2006"/> 
		</extension>

		<extension class-name="es.icarto.gvsig.catastro.SelectionPredioExtension" description="Select predio" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="SeleccionarPredio"
					action-command="_select_predio" position="3009"/>
			</tool-bar>-->
			<menu text="Catastro/Selección/Predio" action-command="_select_predio" position="3009"/> 
		</extension>
		
		<extension class-name="es.icarto.gvsig.catastro.SelectionResetConstantsExtension" description="Clean constants" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Limpiar selección de constantes"
					action-command="_clean_constants" position="4012"/>
			</tool-bar>-->
			<menu text="Catastro/Selección/Limpiar selección" action-command="_clean_constants" position="4012"/> 
		</extension>
	
		<!-- USER FUNCTIONALITIES MENU MANZANAS -->
		
		<extension class-name="es.icarto.gvsig.catastro.ManzanaNewExtension" description="New Feature" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Alta"
					action-command="_area" position="10003"/>
			</tool-bar>-->
			<menu text="Catastro/Manzanas/Alta" action-command="_area"
				icon="images/new.png" position="10003"/> 
		</extension>
	
	<!-- USER FUNCTIONALITIES MENU PREDIOS -->
		
		<extension class-name="es.icarto.gvsig.catastro.PredioFusionExtension" description="Join Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Fusionar"
					action-command="_selection" position="100003"/>
			</tool-bar>-->
			<menu text="Catastro/Predios/Fusionar" action-command="_selection"
				icon="images/join.png" position="100003"/> 
		</extension>
		
		<extension class-name="es.icarto.gvsig.catastro.PredioDivideExtension" description="Split Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Dividir"
					action-command="_cut_polygon" position="200006"/>
			</tool-bar>-->
			<menu text="Catastro/Predios/Dividir" action-command="_cut_polygon"
				icon="images/split.png" position="200006"/> 
		</extension>
		
		<extension class-name="es.icarto.gvsig.catastro.PredioDeslindeExtension" description="Redigitalize Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Deslinde"
					action-command="_redigitalize_polygon" position="300009"/>
			</tool-bar>-->
			<menu text="Catastro/Predios/Deslinde" action-command="_redigitalize_polygon" position="300009"/> 
		</extension>
		
		<extension class-name="es.icarto.gvsig.catastro.PredioDeslindeWithManzanaExtension" description="Cut Polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Deslinde con manzana"
					action-command="_cut_polygon" position="400012"/>
			</tool-bar>-->
			<menu text="Catastro/Predios/Deslinde con Manzana" action-command="_cut_polygon" position="400012"/>
		</extension>
	
	<!-- USER FUNCTIONALITIES MENU CONSTRUCCIONES -->
	
		<extension class-name="es.icarto.gvsig.catastro.ConstruccionNewExtension" description="New Feature" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Alta"
					action-command="_area" position="1000003"/>
			</tool-bar>-->
			<menu text="Catastro/Construcciones/Alta" action-command="_area"
				icon="images/new.png" position="1000003"/> 
		</extension>
	
		<extension class-name="es.icarto.gvsig.catastro.ConstruccionDeleteExtension" description="Delete Feature" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Eliminar"
					action-command="_delete" position="2000006"/>
			</tool-bar>-->
			<menu text="Catastro/Construcciones/Eliminar" action-command="_selection" position="2000006"/> 
		</extension>
		
		<extension class-name="es.icarto.gvsig.catastro.ConstruccionRedigitalizeExtension" description="Redigitalize polygon" active="true">
			<!--<tool-bar name="Catastro">
				<action-tool icon="" tooltip="Modificar Lindero"
					action-command="_redigitalize_polygon" position="3000009"/>
			</tool-bar>-->
			<menu text="Catastro/Construcciones/Modificar" action-command="_redigitalize_polygon" position="3000009"/> 
		</extension>
				
	<!-- UTILITIES EXTENSIONS -->	
		
		<extension class-name="es.icarto.gvsig.catastro.ActionDispatcherExtension" description="FORMS_PANEL" active="true">
			<tool-bar name="Catastro">
				<action-tool icon="catastro-mexico" tooltip="Catastro Extension"
					action-command="catastro-mexico" position="5000"/>
			</tool-bar>
		</extension>

	</extensions>
</plugin-config>
